body {
	font-family: system-ui;
	background: #fefae0;
	color: #606c38;
}
h1{
	color: #606c38;
	font-size: 60px;
	font-align: center;
	text-decoration-line: underline;
	text-decoration-color: #dda15e;
	text-decoration-style: double;
	text-align: center;
}

img:hover {
	transform: scaleY(-1);
	height: 35%;
	width: 35%;
	border: dotted red 25px;
}

nav{
	list-style-type: none;
	position : fixed;
	width: 1000px;
	top: 0;
	left: 0;
}

li {
	display: inline;
	padding: 20px;
	color: #283618;
	font-size: 25px;
}


